* {
    box-sizing: border-box;
    /* border: 2px solid black; */
}


a {
    text-decoration: none;
    
}
body {
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f3f6;
}


.wrapper {
    max-inline-size: 1000px;
    margin: 0 auto;
    padding: 0;
    
}

img {
    display: block;
    max-inline-size: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-inline: 30px;
    background-color: rgb(248, 253, 255);
    padding-block: 8px;
    

}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space evenly;
    padding-left: 0;
    gap: 40px;

}

li {
    list-style: none;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    gap: 15px;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.buttons button {
    height: 30px;
    padding: 5px 12px;
    border-radius: 4px;
    background-color: #00b289;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #00b289;

}

.buttons .login {
    background-color: white;
    color: #00b289;
}

.login a {
    color: #00b289;
}

.login:hover {
    background-color: #00b289;
    
}

.login:hover a {
    color: white;
}

button a {
    
    color: white;
}

.startfree:hover {
    background-color: #26947a;
}


nav li a {
    color: #4c4d5f;

}


nav li a:hover {
    font-weight: 700;
}
.logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super-charge * {
    /* border: 2px solid black; */
    margin: 0;

}

.super-charge {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 20px;
    font-size: 14px;
    padding: 20px;
    color: #4c4d5f;

}
.super-charge h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 30;
    font-size: 1.5rem;
}

.super-charge h3 {
    color: black;
}

.charge-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
}

.charge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 48px 30px;
    background-color: rgb(253, 254, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1);
}

.charge p {
    font-size: 12px;
}

.charge .left {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 80%;
    height: auto;
    gap: 5px;
}

.charge .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.learnmore {
    color: #00b289;
    font-weight: bold;
    
}


.business {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 950px;
    margin: auto;
    padding: 20px;
    padding-block: 50px;
    border-radius: 5px;
    background-color: #d3dff68a;
}



.business h1 {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 40;
    color: #4c4d5f;

}

.business button {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #00b289;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #08a581;
    color: white;
    cursor: pointer;
}

.business button:hover {
    background-color: #26947a;
    border-color: #26947a;
}
.your {
    color: #00b289;
}

footer {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .75rem;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #edf4f1;
    margin-top: 60px;

}

footer a {
    text-decoration: none;
    color: #4c4d5f;
    font-weight: 470;
}

footer a:hover {
    font-weight: 600;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

footer ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer li {
    margin-left: 0;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    font-size: .8rem;
    padding: 10px;
    margin-bottom: 50px;

}

.plans h1 {
    text-align: center;
    padding-block: 10px;
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.plans * {
    /* border: 2px solid black; */
    margin: 0;
}

.plans ul {
    padding-top: 20px;
    padding-left: 8px;
}

.plans li {
    margin: 5px;
    margin-bottom: 10px;
    font-size: .7rem;
    padding: 2px;
    list-style-type: disc;
}


.plans li::marker {
    content: '✅';
    display:flex;
    margin-left: 0;
    
}

.mainhead {
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 50px;
    padding-inline: 20px;
    border-radius: 2px;
    border-width: thin;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1);
}

.plans hr {
    border-color: rgb(21, 221, 21);
    border-width: 1px;

}

.plan button {
    background-color: #00b289;
    color: white;
    padding: 10px 20px;
    border: 1px solid #049976;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
}

.plan button:hover {
    background-color: #049976;
}
.upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
}

.upper h3 {
    padding: 5px;
}
.upper p {
    font-size: .7rem;
    padding: 2px;
}

.below {
    min-height: 350px;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding-inline: 50px;
}

.faq h2 {
    color: #00b289;
    text-align: center;
}

.faq ul {
    padding-left: 0;


}

.faq li {
    padding: 5px;
}

.faq li:hover {
    font-weight: 700;
    color: #00b289;
    cursor: pointer;
}